{% extends 'layouts/admin.twig' %}

{% import 'macros/form.twig' as form %}

{% block content %}
  <section class="content-header">
    <h1>{{ lang('SETTINGS_EDITION') }}</h1>
    <ol class="breadcrumb">
      <li><a href="{{ route('admin/admin_index') }}"><i class="fa fa-dashboard"></i> {{ lang('HOME') }}</a></li>
      <li>{{ lang('SETTINGS') }}</li>
      <li class="active">{{ lang('SETTINGS_EDITION') }}</li>
    </ol>
  </section>
  <section class="content">
    {{ form_open() }}
    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs pull-right">
        <li class="active"><a href="#general" data-toggle="tab">{{ lang('GENERAL_SETTINGS') }}</a></li>
        <li><a href="#security" data-toggle="tab">{{ lang('SECURITY_SETTINGS') }}</a></li>
        <li class="pull-left header"><i class="fa fa-th"></i> {{ lang('EDIT_SETTINGS') }}</li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="general">
          <div class="row">
            <div class="col-md-5">
              {{ form.input('site_name', lang('WEBSITE_NAME'), this.input.post('site_name') ? this.input.post('site_name') : settings.site_name, {placeholder: lang('WEBSITE_NAME_EXAMPLE'), required: true}) }}
            </div>
            <div class="col-md-3">
              {{ form.select('timezone', lang('TIMEZONE'), timezones, {0: this.config.item('timezone')}, {required: true}) }}
            </div>
            <div class="col-md-3 col-md-offset-1">
              {{ form.select('language', lang('WEBSITE_LANG'), languages, {0: this.config.item('language')}, {required: true}) }}
            </div>
            <div class="col-md-12">
              {{ form.input('site_description', lang('WEBSITE_DESCRIPTION'), this.input.post('site_description') ? this.input.post('site_description') : settings.site_description, {placeholder: lang('WEBSITE_DESCRIPTION_EXAMPLE'), required: true}) }}
            </div>
            <div class="col-md-12">
              <hr>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="security">
          <b>{{ lang('SETTINGS') }} reCAPTCHA :</b>
          <p>{{ lang('RECAPTCHA_DESCRIPTION') }}</p>
          {{ form.input('recaptchaSettings[site_key]', lang('RECAPTCHA_SITE_KEY'), this.input.post('recaptchaSettings[site_key]') ? this.input.post('recaptchaSettings[site_key]') : settings.recaptchaSettings.site_key, {placeholder: lang('RECAPTCHA_SITE_KEY_EXAMPLE'), required: true}) }}
          {{ form.input('recaptchaSettings[secret_key]', lang('RECAPTCHA_SECRET_KEY'), this.input.post('recaptchaSettings[secret_key]') ? this.input.post('recaptchaSettings[secret_key]') : settings.recaptchaSettings.secret_key, {placeholder: lang('RECAPTCHA_SECRET_KEY_EXAMPLE'), required: true}) }}
          {{ lang('ACTIVATE_RECAPTCHA') }} ?
          <input type="hidden" name="recaptchaEnabled" value="false">
          <div class="form-group">
            <label class="switch">
              <input type="checkbox" name="recaptchaEnabled" value="true" {% if (this.input.post('recaptchaEnabled') == true) or (settings.recaptchaEnabled == true) %}checked{% endif %}>
              <span class="slider round"></span>
            </label>
          </div>
        </div>
        {{ form.simpleInput('send', true, {type: 'hidden'}) }}
        {{ form.submit(lang('EDIT'), null, {btnType: 'success'}) }}
      </div>
    </div>
    {{ form_close() }}
  </section>
{% endblock %}

{% block javascript %}
  {{ parent() }}
  <script async>
    $(document).ready(function () {
      {% if validation_errors() %}
      humane.log("{{ rtrim(validation_errors('', '<br>\\'), '<br>\\') | raw }}", {
        timeout: 8000,
        clickToClose: true,
        addnCls: 'humane-flatty-error'
      });
      {% endif %}
    });
  </script>
{% endblock %}