{% extends 'layouts/admin.twig' %}

{% import 'macros/form.twig' as form %}

{% block content %}
  <section class="content-header">
    <h1>{{ lang('SETTINGS_EDITION') }}</h1>
    <ol class="breadcrumb">
      <li><a href="{{ route('admin/admin_index') }}"><i class="fa fa-dashboard"></i> {{ lang('HOME') }}</a></li>
      <li>{{ lang('SETTINGS') }}</li>
      <li class="active">{{ lang('SETTINGS_EDITION') }}</li>
    </ol>
  </section>
  <section class="content">
    {{ form_open() }}
    <div class="nav-tabs-custom">
      {% include 'admin/settings/nav.twig' %}
      <div class="tab-content">
        <div class="row">
          <div class="col-md-5">
            {{ form.input('site_name', lang('WEBSITE_NAME'), this.input.post() ? this.input.post('site_name') : settings.site_name, {placeholder: lang('WEBSITE_NAME_EXAMPLE'), required: true}) }}
          </div>
          <div class="col-md-3">
            {{ form.select('timezone', lang('TIMEZONE'), timezones, {0: this.input.post() ? this.input.post('timezone') : settings.timezone}, {required: true}) }}
          </div>
          <div class="col-md-3 col-md-offset-1">
            {{ form.select('language', lang('WEBSITE_LANG'), languages, {0: this.input.post() ? this.input.post('language') : settings.language}, {required: true}) }}
          </div>
          <div class="col-md-12">
            {{ form.input('site_description', lang('WEBSITE_DESCRIPTION'), this.input.post() ? this.input.post('site_description') : settings.site_description, {placeholder: lang('WEBSITE_DESCRIPTION_EXAMPLE'), required: true}) }}
          </div>
          <div class="col-md-12">
            <hr>
          </div>
        </div>
        {{ form.submit(lang('EDIT'), null, {btnType: 'success'}) }}
      </div>
    </div>
    {{ form_close() }}
  </section>
{% endblock %}