{% macro input(name, label, value = null, options = []) %}
  <div class="form-group {{ options.class }}">
    <label for="{{ name }}">{{ label }} :</label>
    {% if options.prefix or options.suffix %}
      <div class="input-group">
    {% endif %}
      {% if options.prefix %}
        <span class="input-group-addon" id="addon-before">{{ options.prefix }}</span>
      {% endif %}
      <input name="{{ name }}" type="{{ options.type }}" class="form-control" id="{{ name }}"
             placeholder="{{ options.placeholder }}"
             value="{{ value }}" {{ options.required == true ? 'required' : '' }}>
      {% if options.suffix %}
        <span class="input-group-addon" id="addon-after">{{ options.suffix }}</span>
      {% endif %}
      {% if options.prefix or options.suffix %}
    </div>
    {% endif %}
  </div>
{% endmacro %}

{% macro select(name, label, list = null, selected = null, options = []) %}
  <div class="form-group {{ options.class }}">
    <label for="{{ name }}">{{ label }} :</label>
    <select name="{{ name }}" class="form-control" id="{{ name }}" {{ options.required == true ? 'required' : '' }}>
      <option value="" style="font-weight: bold">
        /!\ {% if this.config.item('language') == 'french' %}Veuillez choisir une option{% elseif this.config.item('language') == 'english' %}Please select an item{% endif %}
        /!\
      </option>
      {% for item in list %}
        <option value="{{ item.value }}"
                {% if selected %}{% if in_array(item.value, selected) %}selected{% endif %}{% endif %}
                {% if item.disabled %}disabled{% endif %}
                {% if item.style != '' %}style="{{ item.style }}"{% endif %}>{{ item.name }}</option>
      {% endfor %}
    </select>
  </div>
{% endmacro %}

{% macro selectMultiple(name, label, list = null, selected = null, options = []) %}
  <div class="form-group {{ options.class }}">
    <label for="{{ name }}">{{ label }} :</label>
    <select multiple name="{{ name }}[]" class="form-control"
            id="{{ name }}" {{ options.required == true ? 'required' : '' }} style="height: {{ options.height }}px">
      <option value="" style="font-weight: bold">
        /!\ {% if this.config.item('language') == 'french' %}Veuillez choisir une option{% elseif this.config.item('language') == 'english' %}Please select an item{% endif %}
        /!\
      </option>
      {% for item in list %}
        <option value="{{ item.value }}"
                {% if selected %}{% if in_array(item.value, selected) %}selected{% endif %}{% endif %}>{{ item.name }}</option>
      {% endfor %}
    </select>
  </div>
{% endmacro %}

{% macro textarea(name, label, value = null, options = []) %}
  <div class="form-group {{ options.class }}">
    <label for="{{ name }}">{{ label }} :</label>
    <textarea name="{{ name }}" id="{{ name }}" class="form-control"
              placeholder="{{ options.placeholder }}" {{ options.required == true ? 'required' : '' }}
              rows="{{ options.rows }}">{{ value }}</textarea>
  </div>
{% endmacro %}

{% macro simpleInput(name, value = null, options = []) %}
  <input name="{{ name }}" type="{{ options.type }}" id="{{ name }}" placeholder="{{ options.placeholder }}"
         value="{{ value }}" {{ options.required == true ? 'required' : '' }}>
{% endmacro %}

{% macro submit(value, name, options = []) %}
  <input type="submit" class="btn{% if options.btnType %} btn-{{ options.btnType }}{% endif %} {{ options.class }}" name="{{ name }}"
         value="{{ value }}"{% if options.id %} id="{{ options.id }}"{% endif %}{% if options.style %} style="{{ options.style }}"{% endif %}>
{% endmacro %}

{% macro tinymceInit() %}
  <script src="{{ js('admin/tinymce/tinymce.min') }}"></script>
  <script async>
    tinymce.init({
      selector: 'textarea',
      {% if this.config.item('language') == 'french' %}
      language: 'fr_FR',
      {% elseif this.config.item('language') == 'english' %}
      language: 'en_US',
      {% endif %}
      relative_urls: false,
      remove_script_host: false,
      height: 500,
      theme: 'modern',
      plugins: [
        'advlist autolink lists link image charmap print preview hr anchor pagebreak',
        'searchreplace wordcount visualblocks visualchars code fullscreen',
        'insertdatetime media nonbreaking save table contextmenu directionality',
        'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc help'
      ],
      toolbar1: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
      toolbar2: 'print preview media | forecolor backcolor emoticons | codesample help',
      image_advtab: true
    });
  </script>
{% endmacro %}