{% extends 'layouts/default.twig' %}

{% import 'macros/form.twig' as form %}

{% block content %}
  <section id="account">
    <div class="container">
      <h2 class="title">{{ lang('MY_ACCOUNT') }}</h2>
      <div class="row">
        <div class="col-lg-3">
          <div class="nav flex-column nav-pills">
            <li class="nav-item text-center">
              <a class="nav-link {% if current_url() == route('users/account') %}active{% endif %}" href="{{ route('users/account') }}">{{ lang('ACCOUNT_MANAGEMENT') }}</a>
            </li>
            {% for name,uri in account_nav %}
              <li class="nav-item">
                <a class="nav-link" href="{{ route(uri) }}">{{ name }}</a>
              </li>
            {% endfor %}
          </div>
          <br>
        </div>
        <div class="col-lg">
          {{ form_open() }}
            {{ form.input('username', lang('USERNAME'), user.username, {placeholder: lang('USERNAME_EXAMPLE'), required: true}) }}
            {{ form.input('email', lang('EMAIL'), user.email, {type: 'email', placeholder: lang('EMAIL_EXAMPLE'), required: true}) }}
            {{ form.input('password', lang('PASSWORD'), null, {type: 'password', placeholder: lang('PASSWORD_EXAMPLE')}) }}
            {{ form.input('password_confirm', lang('PASSWORD_CONFIRMATION'), null, {type: 'password', placeholder: lang('PASSWORD_EXAMPLE')}) }}
            {{ form.submit(lang('SAVE_CHANGES'), null, {btnType: 'primary'}) }}
          {{ form_close() }}
        </div>
      </div>
    </div>
  </section>
{% endblock %}