{% extends 'layouts/default.twig' %}

{% import 'macros/form.twig' as form %}

{% block content %}
  <article class="card card-custom">
    <div class="card-header">
      <div class="row">
        <div class="col"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;{{ lang('REGISTER') }}</div>
      </div>
    </div>
    <div class="card-body">
      {{ form_open('', 'id=""') }}
      {{ form.input('username', lang('USERNAME'), this.input.post('username'), {placeholder: lang('USERNAME_EXAMPLE'), required: true}) }}
      {{ form.input('email', lang('EMAIL'), this.input.post('email'), {type: 'email', placeholder: lang('EMAIL_EXAMPLE'), required: true}) }}
      {{ form.input('password', lang('PASSWORD'), null, {type: 'password', placeholder: lang('PASSWORD_EXAMPLE'), required: true}) }}
      {{ form.input('password_confirm', lang('PASSWORD_CONFIRMATION'), null, {type: 'password', placeholder: lang('PASSWORD_EXAMPLE'), required: true}) }}
      {{ form.submit(lang('REGISTER'), null, {btnType: 'success', id: 'captchaProtected'}) }}
      {{ form_close() }}
    </div>
  </article>
{% endblock %}


{% block javascript %}
  {{ parent() }}
  {% if validation_errors() %}
    <script async>
      humane.log("{{ rtrim(validation_errors('', '<br>\\'), '<br>\\') | raw }}", {
        timeout: 8000,
        clickToClose: true,
        addnCls: 'humane-flatty-error'
      });
    </script>
  {% endif %}
{% endblock %}