{# Load menu links #}
{% set links, sublinks = this.menuManager.getLinks(), this.menuManager.getSublinks() %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{{ page_title }} | {{ site_name }}</title>
  <meta name="description" content="{{ settings.site_description }}">
  <meta name="author" content="">
  <link rel="icon" sizes="32x32" type="image/png" href="{{ site_url('favicon.png') }}">

  {% block stylesheets %}
    <!-- Bootstrap core CSS -->
    <link href="{{ css('bootstrap.min') }}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{ css('style.dev') }}" rel="stylesheet">
    <link href="{{ css('humane-flatty') }}" rel="stylesheet">
    <link href="{{ css('font-awesome.min') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800" rel="stylesheet">
  {% endblock %}
</head>

<body>
<noscript>
  <div class="fixed-warning text-center">
    <span>{{ lang('PLEASE_ACTIVATE_JAVASCRIPT') }}</span><br>
    <a href="{{ lang('HOW_TO_ACTIVATE_JAVASCRIPT_URL') }}" target="_blank" rel="noopener nofollow">{{ lang('HOW_TO_ACTIVATE_JAVASCRIPT') }}</a>
  </div>
</noscript>
{% if this.session.userdata('real_id') %}
  <div class="fixed-warning text-center">
    <span>{{ lang('LOGGED_AS_USER_NO') }}{{ this.session.userdata('id') }}</span><br>
    <a href="{{ route('users/take_control/' ~ this.session.userdata('real_id')) }}">{{ lang('LEAVE_TAKE_CONTROL') }}</a>
  </div>
{% endif %}
<header>
  <div class="top-bar">
    <div class="container">
      <div class="row">
        <span class="col align-middle">Il y a <b>126</b> joueurs connectés</span>
        <span class="col align-middle text-right">
          {% if this.authManager.isPermitted(this.session.userdata('id'), 'ADMIN__ACCESS') %}
            <a href="{{ route('admin/admin_index') }}">
                  <i class="fa fa-cog"></i>&nbsp;Administration
              </a>&nbsp;&nbsp;-&nbsp;
          {% endif %}
          {% if this.authManager.isLogged() %}
            <a href="{{ route('auth/logout') }}"><i class="fa fa-sign-out"></i>&nbsp;{{ lang('LOGOUT') }}</a>
          {% endif %}
        </span>
      </div>
    </div>
  </div>
  <div class="logo text-center">
    <img src="{{ img('banner.png') }}" class="img-fluid" alt="">
  </div>
</header>

{% include 'components/navbar.twig' %}

<div class="container">
  <div class="row">
    {% block full_width_content %}{% endblock %}

    <div class="col-md-12 col-xl-9">
      <div class="col-md">
        {% block content %}{% endblock %}
      </div>
    </div>
    <div class="col">
      {% block widgets %}{% endblock %}
    </div>
  </div>
</div>

{% include 'components/footer.twig' %}

{% block javascript %}
  <script src="{{ js('jquery.slim.min') }}"></script>
  <script src="{{ js('popper.min') }}" defer></script>
  <script src="{{ js('bootstrap.min') }}" defer></script>

  {{ displayCaptcha() }}
  {% include 'components/flashdata.twig' %}

{% endblock %}

</body>

</html>
