{% if this.pluginsManager.isEnabled('VisitCounter') %}
  {# Load visitCounter vars #}
  {{ load_widget('VisitCounter') }}
  {% set visitCounter = this.VisitCounterWidget.defaultWidget() %}

  <div class="card card-custom">
    <div class="card-header">
      <div class="row">
        <div class="col"><i class="fa fa-line-chart" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;{{ lang('STATISTICS') }}</div>
      </div>
    </div>
    <div class="card-body text-center">
      <p>Visiteurs (dernières 24h) : {{ visitCounter.nb_since_24h }}</p>
      <p>Visiteurs au total : {{ visitCounter.nb_total }}</p>
      <hr>
      <p>Visiteur{% if visitCounter.nb_since_5m > 1 %}s{% endif %} actuel : {{ visitCounter.nb_since_5m }}</p>
    </div>
  </div>
{% endif %}