{% extends 'layouts/admin.twig' %}

{% block content %}
  <section class="content-header">
    <h1>{{ lang('MINECRAFT') }}</h1>
    <ol class="breadcrumb">
      <li><a href="{{ route('admin/admin_index') }}"><i class="fa fa-dashboard"></i> {{ lang('HOME') }}</a></li>
      <li>{{ lang('PLUGINS') }}</li>
      <li class="active">{{ lang('MINECRAFT') }}</li>
    </ol>
  </section>

  <section class="content">
    <a href="{{ route('minecraft/admin_settings') }}" class="btn btn-primary pull-right"><i class="fa fa-cogs"></i> {{ lang('MINECRAFT_SETTINGS') }}</a>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="info-box bg-green">
          <span class="info-box-icon"><i class="fa fa-server"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">{{ lang('MINECRAFT_SERVERS') }}</span>
            <span class="info-box-number">{{ nb_servers }}</span>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}