{% extends 'layouts/admin.twig' %}

{% block content %}
  <section class="content-header">
    <h1>{{ lang('MINECRAFT') }}</h1>
    <ol class="breadcrumb">
      <li><a href="{{ route('admin/admin_index') }}"><i class="fa fa-dashboard"></i> {{ lang('HOME') }}</a></li>
      <li>{{ lang('PLUGINS') }}</li>
      <li class="active">{{ lang('MINECRAFT') }}</li>
    </ol>
  </section>

  <section class="content">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="info-box bg-green">
          <span class="info-box-icon"><i class="fa fa-newspaper-o"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">{{ lang('NEWS') }}</span>
            <span class="info-box-number">{{ widgets.news.nb_total }}</span>
            <div class="progress" style="opacity: .05"></div>
            <span class="progress-description"><b>+</b> {{ widgets.news.nb_last_24h }} ({{ lang('LAST_24_HOURS') }})</span>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="info-box bg-blue">
          <span class="info-box-icon"><i class="fa fa-newspaper-o"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">{{ lang('PAGES') }}</span>
            <span class="info-box-number">{{ widgets.pages.nb_total }}</span>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="info-box bg-red">
          <span class="info-box-icon"><i class="fa fa-user"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">{{ lang('USERS') }}</span>
            <span class="info-box-number">{{ widgets.users.nb_total }}</span>
            <div class="progress" style="opacity: .05"></div>
            <span class="progress-description"><b>+</b> {{ widgets.users.nb_last_24h }} ({{ lang('LAST_24_HOURS') }})</span>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}