{% extends 'layouts/admin.twig' %}

{% import 'macros/form.twig' as form %}

{% block content %}
    <section class="content-header">
        <h1>{{ lang('GROUP_EDITION') }}</h1>
        <ol class="breadcrumb">
            <li><a href="{{ route('admin/admin_index') }}"><i class="fa fa-dashboard"></i> {{ lang('HOME') }}</a></li>
            <li>{{ lang('GROUPS') }}</li>
            <li><a href="{{ route('groups/admin_manage') }}">{{ lang('GROUPS_MANAGEMENT') }}</a></li>
            <li class="active">{{ lang('GROUP_EDITION') }}</li>
        </ol>
    </section>
    <section class="content">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">{{ lang('EDIT_GROUP') }}</h3>
            </div>
            <div class="box-body">
                {{ form_open() }}
                <div class="col-md-12">
                    {{ form.input('name', lang('GROUP_NAME'), group.name, {placeholder: lang('GROUP_NAME_EXAMPLE'), required: true}) }}
                </div>
                <div class="col-md-12">
                    {{ form.input('color', lang('GROUP_COLOR'), group.color, {type: 'color', required: true}) }}
                </div>

                <div class="col-md-12">
                    {{ form.submit(lang('EDIT'), null, {btnType: 'success'}) }}
                </div>
                {{ form_close() }}
            </div>
        </div>
    </section>
{% endblock %}