{% extends 'layouts/admin.twig' %}

{% import 'macros/form.twig' as form %}

{% block content %}
  <section class="content-header">
    <h1>{{ lang('PERMISSIONS_MANAGEMENT') }}</h1>
    <ol class="breadcrumb">
      <li><a href="{{ route('admin/admin_index') }}"><i class="fa fa-dashboard"></i> {{ lang('HOME') }}</a>
      </li>
      <li>{{ lang('PERMISSIONS') }}</li>
      <li class="active">{{ lang('PERMISSIONS_MANAGEMENT') }}</li>
    </ol>
  </section>
  <section class="content">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">{{ lang('MANAGE_PERMISSIONS') }} (<b>{{ group.name }}</b>)</h3>
      </div>
      <div class="box-body">
        <b class="pull-right">
          {{ lang('CHECK_ALL') }}
          <label class="switch">
            <input id="checkAll" type="checkbox" onclick="toggle(this)">
            <span class="slider round"></span>
          </label>
        </b>
        {{ form_open() }}
        <ul class="nav nav-tabs">
          {% for key, permission in permissions %}
            <li {% if loop.index == 1 %}class="active"{% endif %}>
              <a data-toggle="tab" href="#{{ key }}">{{ lang(key) }}</a>
            </li>
          {% endfor %}
        </ul>
        <div class="tab-content">
          {% for key, category in permissions %}
            <div id="{{ key }}" class="tab-pane fade {% if loop.index == 1 %}in active{% endif %}">
              <table class="table table-responsive">
                <thead>
                <tr>
                  <th>{{ lang('PERMISSION') }}</th>
                  <th>{{ lang('ALLOW?') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for permission in category %}
                  <tr>
                    <td>{{ lang(permission.name) }}</td>
                    <td>
                      <label class="switch">
                        <input type="checkbox" name="permissions[]" value="{{ permission.name }}" onclick="check()"
                               {% if (in_array(permission.name, group.permissions)) %}checked{% endif %}>
                        <span class="slider round"></span>
                      </label>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          {% endfor %}
        </div>
        {{ form.submit(lang('UPDATE'), null, {btnType: 'success'}) }}
        {{ form_close() }}
      </div>
    </div>
  </section>
{% endblock %}

{% block javascript %}
  {{ parent() }}
  <script async>
    var checkboxes = document.getElementsByName('permissions[]');

    function toggle(source) {
      for (var i = 0, n = checkboxes.length; i < n; i++) {
        checkboxes[i].checked = source.checked;
      }
    }

    function check() {
      var z = 0;
      for (var i = 0, n = checkboxes.length; i < n; i++) {
        if (checkboxes[i].checked) z++;
      }
      if (i != z) document.getElementById('checkAll').checked = false;
      else document.getElementById('checkAll').checked = true;
    }

    $(document).ready(function () {
      check();
    });
  </script>
{% endblock %}