{% extends 'layouts/admin.twig' %}

{% import 'macros/form.twig' as form %}

{% block content %}
  <section class="content-header">
    <h1>{{ lang('THEME_CONFIGURATION') }}</h1>
    <ol class="breadcrumb">
      <li><a href="{{ route('admin/admin_index') }}"><i class="fa fa-dashboard"></i> {{ lang('HOME') }}</a>
      </li>
      <li>{{ lang('THEMES') }}</li>
      <li class="active"><a href="{{ route('themes/admin_manage') }}">{{ lang('THEMES_MANAGEMENT') }}</a></li>
      <li class="active">{{ lang('THEME_CONFIGURATION') }}</li>
    </ol>
  </section>
  <section class="content">
    {{ form_open() }}
    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs pull-right">
        <li class="active"><a href="#general" data-toggle="tab">{{ lang('THEME_CONFIG__HOME_PAGE') }}</a></li>
        <li class="pull-left header"><i class="fa fa-th"></i> {{ lang('EDIT_SETTINGS') }}</li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="general">
          <div class="row">
            <div class="col-md-12">
              <br>
              <div class="box box-solid">
                <div class="box-header with-border">
                  <i class="fa fa-arrow-right"></i>
                  <h3 class="box-title">{{ lang('THEME_CONFIG__CAROUSEL_SECTION') }}</h3>
                </div>
                <div class="box-body">

                </div>
              </div>
            </div>

            <div class="col-md-12">
              <br>
              <div class="box box-solid">
                <div class="box-header with-border">
                  <i class="fa fa-arrow-right"></i>
                  <h3 class="box-title">{{ lang('THEME_CONFIG__BUBBLES_SECTION') }}</h3>
                </div>
                <div class="box-body">
                  <div class="col-md-12">
                    {{ form.input('home_title', lang('TITLE'), this.input.post('home_title') ? this.input.post('home_title') : theme_config.home_title, {placeholder: lang('THEME_CONFIG__HOME_TITLE_EXAMPLE'), required: true}) }}
                  </div>
                  <div class="col-md-12">
                    <div class="alert alert-info alert-dismissible">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                      <h4><i class="icon fa fa-info"></i> Info</h4>
                      {{ lang('THEME_CONFIG__FA_ICONS_INFO') }}
                    </div>
                  </div>
                  <div class="col-md-4">
                    {{ form.input('home_bubble[icon][0]', lang('THEME_CONFIG__FIRST_BUBBLE_ICON'), this.input.post('home_bubble[icon][0]') ? this.input.post('home_bubble[icon][0]') : theme_config.home_bubble.icon.0, {placeholder: lang('THEME_CONFIG__BUBBLE_ICON_EXAMPLE'), required: true}) }}
                    {{ form.input('home_bubble[text][0]', lang('THEME_CONFIG__FIRST_BUBBLE_TEXT'), this.input.post('home_bubble[text][0]') ? this.input.post('home_bubble[text][0]') : theme_config.home_bubble.text.0, {placeholder: lang('THEME_CONFIG__BUBBLE_TEXT_EXAMPLE'), required: true}) }}
                  </div>
                  <div class="col-md-4">
                    {{ form.input('home_bubble[icon][1]', lang('THEME_CONFIG__SECOND_BUBBLE_ICON'), this.input.post('home_bubble[icon][1]') ? this.input.post('home_bubble[icon][1]') : theme_config.home_bubble.icon.1, {placeholder: lang('THEME_CONFIG__BUBBLE_ICON_EXAMPLE'), required: true}) }}
                    {{ form.input('home_bubble[text][1]', lang('THEME_CONFIG__SECOND_BUBBLE_TEXT'), this.input.post('home_bubble[text][1]') ? this.input.post('home_bubble[text][1]') : theme_config.home_bubble.text.1, {placeholder: lang('THEME_CONFIG__BUBBLE_TEXT_EXAMPLE'), required: true}) }}
                  </div>
                  <div class="col-md-4">
                    {{ form.input('home_bubble[icon][2]', lang('THEME_CONFIG__THIRD_BUBBLE_ICON'), this.input.post('home_bubble[icon][2]') ? this.input.post('home_bubble[icon][2]') : theme_config.home_bubble.icon.2, {placeholder: lang('THEME_CONFIG__BUBBLE_ICON_EXAMPLE'), required: true}) }}
                    {{ form.input('home_bubble[text][2]', lang('THEME_CONFIG__THIRD_BUBBLE_TEXT'), this.input.post('home_bubble[text][2]') ? this.input.post('home_bubble[text][2]') : theme_config.home_bubble.text.2, {placeholder: lang('THEME_CONFIG__BUBBLE_TEXT_EXAMPLE'), required: true}) }}
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <br>
              <div class="box box-solid">
                <div class="box-header with-border">
                  <i class="fa fa-arrow-right"></i>
                  <h3 class="box-title">{{ lang('THEME_CONFIG__JOIN_US_SECTION') }}</h3>
                </div>
                <div class="box-body">
                  <div class="col-md-6">
                    {{ form.input('join_us_text', lang('THEME_CONFIG__JOIN_US_TEXT'), this.input.post('join_us_text') ? this.input.post('join_us_text') : theme_config.join_us_text, {placeholder: lang('THEME_CONFIG__JOIN_US_TEXT_EXAMPLE'), required: true}) }}
                  </div>
                  <div class="col-md-6">
                    {% set button_actions = {
                      0: {name: lang('THEME_CONFIG__COPY_BUTTON_ADDRESS'), value: "copy"},
                      1: {name: lang('THEME_CONFIG__OPEN_ADDRESS'), value: "open"},
                      2: {name: lang('THEME_CONFIG__OPEN_ADDRESS_NEW_TAB'), value: "open_new_tab"}} %}
                    {{ form.select('join_us_button[action]', lang('THEME_CONFIG__JOIN_US_BUTTON_ACTION'), button_actions, {0: theme_config.join_us_button.action}, {required: true}) }}
                    {{ form.input('join_us_button[text]', lang('THEME_CONFIG__JOIN_US_BUTTON_TEXT'), this.input.post('join_us_button[text]') ? this.input.post('join_us_button[text]') : theme_config.join_us_button.text, {placeholder: lang('THEME_CONFIG__JOIN_US_BUTTON_TEXT_EXAMPLE'), required: true}) }}
                    {{ form.input('join_us_button[href]', lang('THEME_CONFIG__JOIN_US_BUTTON_ADRESS'), this.input.post('join_us_button[href]') ? this.input.post('join_us_button[href]') : theme_config.join_us_button.href, {placeholder: lang('THEME_CONFIG__JOIN_US_BUTTON_ADRESS_EXAMPLE'), required: true}) }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{ form.submit(lang('UPDATE'), null, {btnType: 'success'}) }}
      </div>
    </div>
    {{ form_close() }}
  </section>
{% endblock %}

{% block javascript %}
  {{ parent() }}
  <script async>
    $(document).ready(function () {
      {% if validation_errors() %}
      humane.log("{{ rtrim(validation_errors('', '<br>\\'), '<br>\\') | raw }}", {
        timeout: 8000,
        clickToClose: true,
        addnCls: 'humane-flatty-error'
      });
      {% endif %}
    });
  </script>
{% endblock %}